block header
  ul.nav
    li
      a(href="/") blog
    li
      a(href="/about") about
    li
      a(href="https://github.com/alacritythief/") github
    li.logo.title
      a(href="/") alacritystudios
    li
      a(href="/") portfolio
    li
      a(href="https://www.linkedin.com/in/alacritystudios") linkedin
    li
      a(href="https://twitter.com/alacritythief") twitter
