block header
  ul.nav
    li
      a(href="/") blog
    li
      a(href="/about") about
    li
      a(href="https://github.com/alacritythief/") github
    li.logo.title
      a(href="/") alacritystudios
    li
      a(href="http://portfolio.alacritystudios.com/") portfolio
    li
      a(href="https://www.linkedin.com/in/alacritystudios") linkedin
    li
      a(href="https://twitter.com/alacritythief") twitter
    li#showmenu.hamburger &#9776;
  
  ul.nav-mobile
    li
      a(href="/") blog
    li
      a(href="/about") about
    li
      a(href="https://github.com/alacritythief/") github
    li
      a(href="http://portfolio.alacritystudios.com/") portfolio
    li
      a(href="https://www.linkedin.com/in/alacritystudios") linkedin
    li
      a(href="https://twitter.com/alacritythief") twitter
