.placeholder
  h1.logo alacritystudios
  span Is currently being remade.
  p
  | You can view the 
  a(href="http://alacritystudios.tumblr.com") old site 
  | in the meantime.
  p here
  p is
  p some
  p test
  p paragraph
  p text
  p here
  p is
  p some
  p test
  p paragraph
  p text
  p here
  p is
  p some
  p test
  p paragraph
  p text
