doctype html
html
  head
    script(src="//use.typekit.net/oxl5ysj.js")
    script.
      try{Typekit.load();}catch(e){}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=false")
    title alacritystudios
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .header
      block header
        include ../includes/header
          
    .content
      block content

    .footer
      block footer
