doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=false")
    title alacritystudios
    link(rel='stylesheet', href='/css/app.css')
    // link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .container
      block content
