extends ./layouts/base

block content
  .about
    .text
      img(src="/img/andy_2015_bw.jpg").photo
      h1.center.logo Andy Wong
      h3.center FULL STACK WEB DEVELOPER + ILLUSTRATOR
      p.
        Having graduated from the Launch Academy 2014 Fall Cohort,
        I've learned best practices on learning new skills, pair programming, 
        Git &amp; Github, agile development, Ruby, and how to build web applications 
        in frameworks such as Ruby on Rails and Sinatra.
      p.
        Since November 2014, I've been working at
        <a href="http://www.cogolabs.com/">Cogo Labs</a> as a Web Engineer, 
        where I've developed mobile-first applications in Python and JavaScript, 
        using frameworks and tools such as Django, Flask, Node.js, and Grunt. 
        I've also built several apps that interact with or run APIs. 
      p.
        I frequently deploy personal projects online, and you can see the source 
        code for them at
        <a href="https://github.com/alacritythief/">github.com/alacritythief</a>.
      p.
        I've also been a founding member of the 
        <a href="http://bostoncomics.com/">Boston Comics Roundtable</a> 
        since 2006, who are a group of great folks that publish and draw comics 
        in the New England area. Together, we created the 
        <a href="http://www.micexpo.org/">Massachusetts Independent Comics Expo</a> 
        which has been running every year since 2010. 
      p.
        You can view my
        <a href="http://portfolio.alacritystudios.com/">art portfolio</a> 
        as well as <a href="/">read about my experiences</a> 
        here on this site.
      
