extends ./layouts/base

block content
  .about
    .text
      img(src="/img/andy_2015_bw.jpg").photo
      h1.
        ART + COMICS + CODE
      p.
        I'm an illustrator and full-stack web developer. 
        I am a graduate of the Launch Academy 2014 Fall Cohort, 
        where I've learned best practices on how to learn, pair programming, 
        Git &amp; Github, agile development, Ruby, and how to build web 
        applications in frameworks such as Ruby on Rails and Sinatra.
      p.
        Since November 2014, I've been working at Cogo Labs, where I've 
        developed mobile-first applications in Python and JavaScript, 
        using frameworks and tools such as Django, Flask, Node.js, and Grunt.
      p.
        I frequently deploy personal projects online, and you can see 
        the source code for them at github.com/alacritythief.
      p.
        I've also been a founding member of the Boston Comics Roundtable
        since 2006 (bostoncomicsroundtable.com), who are a group of great folks 
        that publish and draw comics in the New England area. Together, we 
        created the Massachusetts Independent Comics Expo (micexpo.org) which 
        has been running every year since 2010. 
      p.
        You can view my art portfolio as well as read about my progress 
        and experiences at: alacritystudios.com
      
