// Imports

@import _normalize
@import _media
@import _colors

// TAGS

html
  font-family "open-sans", Helvetica, Arial, Sans-Serif
  font-size 16px

body
  background-color #eee

a:link, a:visited, a:active
  color color-link
  text-decoration none

a:hover
  text-decoration underline

h1, h2, h3
  margin 0
  padding 0

hr
  background-color #ccc
  border none
  color #000
  height 1px
  margin 1.5rem 0

p
  margin 0
  padding 0

// CLASSES

.blog
  margin 0 auto
  max-width 800px
  padding 0

  img
    display block
    margin 0 auto
    max-width 800px
    padding 0.5rem
    border-radius 0.8rem

  p
    padding-top 1rem

  .tumblr-photo
    p:first-child
      text-align center

  .tumblr-title
    text-align center

  .tumblr-subtitle
    text-align center
    margin-top 0
    margin-bottom 0.5rem

.center
  text-align center

.content
  margin 3.5rem auto 0 auto

.logo
  font-family "corner-store", "Times New Roman", Times, Serif

.nav
  background-color bg-background
  border-bottom 1px solid #000
  list-style none
  margin 0 auto
  max-height 3rem
  padding 0 0 0.2rem 0
  position fixed
  width 100%
  text-align center
  top 0

  li
    padding-left 2rem
    display inline-block
    vertical-align middle

    a:link, a:visited, a:active
      color color-nav-link
      text-decoration none

    a:hover
      color color-nav-hover

.statement
  margin-bottom 1rem
  text-align center

.title
  font-size 2rem
