// Imports

@import _normalize
@import _media
@import _colors

// TAGS

html
  font-family "open-sans", Helvetica, Arial, Sans-Serif
  font-size 16px

body
  background-color #fff

a:link, a:visited, a:active
  color color-link
  text-decoration none

a:hover
  color color-hover

h1, h2, h3
  margin 0
  padding 0

hr
  background-color #000
  border none
  color #000
  height 1px

p
  margin 0
  padding 0

// CLASSES

.content
  margin-top 100px

.logo
  font-family "corner-store", "Times New Roman", Times, Serif

.nav
  background-color bg-background
  border-bottom 1px solid #000
  list-style none
  margin 0 auto
  padding 0 0 0.2rem 0
  position fixed
  width 100%
  text-align center
  top 0

  li
    padding-left 2rem
    display inline-block
    vertical-align middle

.placeholder
  text-align center

.title
  font-size 2rem
