// Imports

@import _normalize
@import _media
@import _colors

// TAGS

html
  font-family Helvetica, Arial, Sans-Serif
  font-size 16px

body
  background-color #fff

a:link, a:visited, a:active
  text-decoration none

a:hover
  color #000

h1, h2, h3
  margin 0
  padding 0

hr
  background-color #000
  border none
  color #000
  height 1px

p
  margin 0
  padding 0

// CLASSES

.placeholder
  padding-top 15%
  text-align center
